
appnope
asgiref
asttokens
attrs
backcall
cached-property
certifi
cffi
charset-normalizer
click
comm
cryptography
debugpy
decorator
defusedxml
dj-database-url
Django
django-phonenumber-field
djangorestframework
dnspython
drf-yasg
exchangelib
executing
filelock
fsspec
idna
inflection
iniconfig
ipykernel
ipython
ipython-genutils
ipython-sql
isodate
jedi
Jinja2
joblib
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
lxml
MarkupSafe
matplotlib-inline
mpmath
mysql-connector-python
nest-asyncio
networkx
nltk
numpy
oauthlib
packaging
pandas
parso
pexpect
phonenumbers
pickleshare
Pillow
platformdirs
pluggy
prettytable
prompt-toolkit
protobuf
psutil
psycopg2
ptyprocess
pure-eval
pycairo
pycparser
Pygments
PyGObject
pyspnego
pytest
python-dateutil
python-decouple
pytz
pywatchman
PyYAML
pyzmq
referencing
regex
requests
requests-ntlm
requests-oauthlib
rpds-py
scikit-surprise
scipy
six
scikit-learn
SQLAlchemy
sqlparse
stack-data
surprise
swagger-spec-validator
sympy
torch
torchvision
tornado
tqdm
traitlets
typing_extensions
tzdata
tzlocal
uritemplate
urllib3
wcwidth
zmq
dj_database_url
djoser
whitenoise